vendor/
node_modules/
npm-debug.log
yarn-error.log
public/downloads/lms-android.apk
# Laravel 4 specific
bootstrap/compiled.php
app/storage/
storage/framework/views/*.php
# استثناء مجلد الـ course-files بالكامل
storage/app/private/course-files/

# استثناء مجلد الـ receipts بالكامل
storage/app/private/receipts/
# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
storage/framework/views/
storage/framework/cache/
storage/framework/sessions/
.env
Homestead.yaml
Homestead.json
.vagrant
.phpunit.result.cache

public/build
storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
node_modules
# تجاهل جميع الملفات داخل storage
/storage/*

# السماح ببقاء الملفات الضرورية للهيكل
!/storage/app/
!/storage/app/.gitignore
!/storage/app/public/
!/storage/app/public/.gitignore
!/storage/framework/
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/
!/storage/framework/testing/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
!/storage/logs/
!/storage/logs/.gitignore

# تجاهل الملفات الخاصة بالتطبيق
/storage/app/private/
/storage/logs/*.log

# تجاهل النسخ الاحتياطية
/storage/app/private/Laravel/*.zip

# تجاهل صور أغلفة الدورات
/storage/app/private/course-covers/

# إذا أردت تجاهل شعار الموقع أيضاً
# /storage/app/public/site/brand/logo.png
